<div class="container-devise">
  <div class="form">
    <div class="title-form">
      <h2>Forgot your password?</h2>
    </div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: 'label-form'  %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "john.doe@who.com", class: 'input-form'  %>
      </div>

      <div class="actions">
        <%= f.submit "Click here to send the reset password instructions", class: "button-send-email-form " %>
        <p><%= render "devise/shared/links" %></p>
      </div>
    <% end %>
  </div>
</div>
